<!DOCTYPE html>
<html>
<head>
    <!-- 更新 base url -->
    <base href="https://think.lenovo.com.cn/support/driver"/>

    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>联想_ThinkPad|ThinkCentre|ThinkStation服务与驱动下载_${Driver[0].DriverName}</title>
    <meta name="keywords" content="${Driver[0].DriverName}"/>
    <meta name="description"
          content="${Driver[0].DriverName}"/>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <!--{V2012 Think Style -->
    <script language="JavaScript" type="text/javascript" src="../../v14/gb/js/jquery-1.7.2.min.js"></script>
    <link href="../../v14/gb/css/reset-min.css" rel="stylesheet" type="text/css">
    <link href="../../v14/css/shared.css" rel="stylesheet" type="text/css">
    <link href="../../v14/css/driver-detail.css" rel="stylesheet" type="text/css">
    <link href="../../v14/gb/header/css/header.css" rel="stylesheet" type="text/css">
    <link href="../../x1carbon/footer/css/footer.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../../v14/gb/css/nav_common.css"/>
    <link rel="stylesheet" href="../../sidebar/css/sideBar.css"/>
    <script type="text/javascript"
            src="https://passport.lenovo.com.cn/wauthen2/wauth/js/lid_min.js?r=201512171101"></script>
    <script type="text/javascript" src="../../v14/gb/header/js/popwin.js"></script>
    <style type="text/css">
        .outlink_wrap {
            width: 1100px;
            height: 150px;
            background: #fff;
            margin: 20px auto 0 auto;
        }

        .outlink_wrap a {
            width: 260px;
            height: 134px;
            display: inline-block;
            background: url(../../v14/images/20160303outerBg.png) no-repeat;
            margin: 0 6px;
        }

        .outlink_wrap a.one_link {
            background-position: 0 0;
        }

        .outlink_wrap a.two_link {
            background-position: 0 -143px;
        }

        .outlink_wrap a.three_link {
            background-position: 0 -286px;
        }

        .outlink_wrap a.four_link {
            background-position: 0 -429px;
        }

        .outlink_wrap a:hover.one_link {
            background-position: right 0;
        }

        .outlink_wrap a:hover.two_link {
            background-position: right -143px;
        }

        .outlink_wrap a:hover.three_link {
            background-position: right -286px;
        }

        .outlink_wrap a:hover.four_link {
            background-position: right -429px;
        }
    </style>
    <!--}V2012 Think Page Style -->
    <!--[if lt IE 9]>
    <script src="../../v14/gb/js/html5.js"></script>
    <![endif]-->
    <!--[if IE 6]>
    <script src="../../v14/gb/js/DD_belatedPNG_0.0.8a-min.js"></script>
    <script type="text/javascript">DD_belatedPNG.fix('.fpng');</script>
    <![endif]-->
    <!--}V2012 Think Style -->
</head>
<body>
<script language="JavaScript" type="text/javascript" src="../../v14/gb/header/js/header.js"></script>
<script type="text/javascript" src="../../v14/gb/header/js/newHeader.js"></script>
<div class="boot">
    <a href="/" class="boot_a">Think首页</a>
    &gt;<a href="/support/driver/mainpage.aspx" class="boot_a">产品中心</a>
    &gt;驱动详细页
</div>
<section class="sub_box01" style="width:1100px;">
    <header class="title_2">
        <div class="title_2_icon01"></div>
        驱动编号：${Driver[0].DriverCode}<span style="margin-left:30px;" title="${Driver[0].DriverName}">${Driver[0].DriverName}</span>
    </header>
    <div class="tab02" style="display:none;">
        <div class="tab02_title02">
            <a href="../../products/driver/newdefault.aspx" class="tab02_title_a">产品首页</a>
            <a href="/support/driver/newdriversdownlist.aspx"" class=" tab02_title_a active">下载中心</a><a
                href=" ../../products/driver/newservice.aspx" class=" tab02_title_a">服务查询</a><a
                onclick=" window.open('http://www.lenovo.com.cn/home/serviceindex.html?tag=a111&SourceFlag=Support_MA&CheckCode=Test123' );"
                class=" tab02_title_a">增值服务</a></div>
    </div>
</section>
<!--问卷调查-->
<div class=" outlink_wrap">
    <a class=" one_link"
       href=" http://www.lenovo.com.cn/product/51640.html?ProductNo=12050300000897&SourceFlag= Think_Result&CheckCode=Test123"
       target=" _blank">&nbsp;</a>
    <a class=" two_link"
       href=" http://www.lenovo.com.cn/activity/ssdupgrade/index.html?lenovoservice&SourceFlag=Think_Resul1t&CheckCode= Test123"
       target=" _blank">&nbsp;</a>
    <a class=" three_link"
       href=" http://www.lenovo.com.cn/product/51639.html?ProductNo=12050300000890&SourceFlag= Think_Result&CheckCode=Test123"
       target=" _blank">&nbsp;</a>
    <a class=" four_link"
       href=" http://www.lenovo.com.cn/activity/memory/index.html?SourceFlag=Think_Result1&CheckCode= Test123"
       target=" _blank">&nbsp;</a>
</div>
<section class=" all" style=" width:1110px;background: #fff;">
    <section class=" right_main" style=" width:1100px; float:none;">
        <section class=" right_main_box01">
            <header class=" title_2">
                <div class=" title_2_icon01"></div>
                驱动信息
            </header>
            <section class=" drive-detailed_download02">
                <ul class=" drive-detailed_download02_ul">
                    <li class=" drive-detailed_download02_ul_li"><b
                            class=" drive-detailed_download02_ul_li_b">适用系统：</b>
                        <#list OS as os>${os.Name}<#sep>，</#sep></#list>
                    </li>
                    <li class=" drive-detailed_download02_ul_li"><b
                            class=" drive-detailed_download02_ul_li_b">支持部件：</b>${Driver[0].TypeName}
                    </li>
                    <li class=" drive-detailed_download02_ul_li"><b
                            class=" drive-detailed_download02_ul_li_b">发布时间：</b>${Driver[0].DriverIssuedDateTime}
                    </li>
                    <li class=" drive-detailed_download02_ul_li"><b
                            class=" drive-detailed_download02_ul_li_b">版本：</b>${Driver[0].Version}
                    </li>
                    <li class=" drive-detailed_download02_ul_li"><b
                            class=" drive-detailed_download02_ul_li_b">文件：</b>
                        <table class=" drive-detailed_download02_ul_li_list">
                            <tr>
                                <td class='drive-detailed_download02_ul_li_list_icon'><img
                                        src='../../images/iSoft/exe.png'
                                        class='drive-detailed_download02_ul_li_list_icon_img'></td>
                                <td class='drive-detailed_download02_ul_li_list_file'>${Driver[0].FileName}<br/>${Driver[0].FileSize}</td>
                                <td class='drive-detailed_download02_ul_li_list_btn'><a
                                        href='${Driver[0].FilePath}'
                                        onclick=dlsave('67246') class='drive-detailed_download02_ul_li_list_btn_a'>
                                    <div class='drive-detailed_download02_ul_li_list_btn_a_l'></div>
                                    <div class='drive-detailed_download02_ul_li_list_btn_a_text'>
                                        <img
                                            src='../../v14/images/201402_download001.png'
                                            class='drive-detailed_download02_ul_li_list_btn_a_text_icon'></i>
                                        立即下载
                                    </div>
                                    <div class='drive-detailed_download02_ul_li_list_btn_a_r'></div>
                                </a></td>
                            </tr>
                        </table>
                    </li>
                </ul>
            </section>
        </section>
        <section class=" right_main_box01">
            <header class=" title_2">
                <div class=" title_2_icon01"></div>
                驱动描述
            </header>
            <section class=" drive-detailed_text01" id="section_description">
            </section>
            <script>
                var description = "${DriverDescribe[0].FDescriptionContent}";
                var section_description = document.getElementById("section_description");
                section_description.innerHTML = description;
                section_description.innerHTML = section_description.innerText;
            </script>
        </section>

        <#if (Historyuser.name)??>
        <section class=" right_main_box01">
            <header class=" title_2">
                <div class=" title_2_icon01"></div>
                历史版本
            </header>
            <section class=" drive-detailed_list01">
                <table>
                    <tr class=" drive-detailed_list01_tr01">
                        <th class=" drive-detailed_list01_th01">日期</th>
                        <th class=" drive-detailed_list01_th02">版本</th>
                        <th class=" drive-detailed_list01_th03">文件</th>
                        <th class=" drive-detailed_list01_th04">大小</th>
                        <th class=" drive-detailed_list01_th05">&nbsp;</th>
                    </tr>
                    <#list History as history>
                    <tr>
                        <td class='drive-detailed_list01_td01'>${history.CreateTime}</td>
                        <td class='drive-detailed_list01_td02'>${history.Version}</td>
                        <td class='drive-detailed_list01_td03'>${history.FileName}</td>
                        <td class='drive-detailed_list01_td04'>${history.FileSize}</td>
                        <td class='drive-detailed_list01_td05'>
                            <a style='display:block'
                               href='${history.FilePath}'
                               onclick=dlsave('${history.DriverEdtionId}')
                               class='drive-detailed_list01_a01'>下载</a>
                        </td>
                    </tr>
                    </#list>
                </table>
            </section>
        </section>
        </#if>

        <section class="'clearfix"></section>
    </section>

</section>
<script type="text/javascript" language="javascript" src="../../sidebar/js/sideBar.js"></script>
<script language="JavaScript" type="text/javascript" src="../../x1carbon/footer/js/footer.js"></script>
<!--}V2012 Think Footer -->


<!-- SiteCatalyst code version: H.20.3.
Copyright 1997-2009 Omniture, Inc. More info available at
http://www.omniture.com -->
<script type="text/javascript" src="/files/s_code.js"></script>
<script type="text/javascript">
    var jsstr ="Think服务频道:驱动和软件下载";
</script>
<script type="text/javascript" src="/files/omniture.js"></script>

<script type="text/javascript">
    var webSiteId = 15;
</script>
<script type="text/javascript" src="../../questionnaire/js/questionnaire.js"></script>
<!-- 调查问卷飘窗 -->
<div id="thk_question_img"
     style="display:none; position:fixed; width:126px; height:103px; right:0; bottom: 14%; background: url(' ../../images/think_que_icon.png '); cursor:pointer; z-index:99999">
    <a style="position:relative; left:104px;">
        <img src="../../images/think_icon_close.png"/>
    </a>
</div>
<!-- End SiteCatalyst code version: H.20.3. -->

<script type="text/javascript">
    var _trackDataType = ' web ';         //default variable
    var _trackData = _trackData || []; //It is a global variable,
    var _la_lenovo_website = 10000071; // default variable
    var laurl =""; // set la.cookie.no.leid.getcookie.js file path
    var CONFIGS = {"lenovoid":"","club_pc_fid":"","pc_child_id":"dsdown"}
    // replace(/\/\//g, ' /')
    // TODO descripetion
    var descripetion ="“;
    $(".drive-detailed_text01").html(unescapeHTML(descripetion));

    function unescapeHTML(a) {
        a ="" + a;
        return a.replace(/&lt;/g,"<").replace(/&gt;/g,">").replace(/&#39;/g, '"').replace(/&amp;nbsp;/g,"").replace(/&amp;lt;/g,"<").replace(/&amp;gt;/g,">").replace(/&amp;#39;/g, '"').replace(/&amp;quot;/g, '"').replace(/&amp;amp;/g, ' ');
        return a;
    }
</script>
<script src="//driverdl.lenovo.com.cn/FE/static/js/la.min-0531.js" type="text/javascript"></script>
<script>
    $(function () {
        $('.header .headerBox .headerLeft>ul>li').css('clear', 'none')
        $('.header .headerBox .headerLeft').css('width', '100%')
        $('.head_left_link').css('width', 'auto')
        $('.outlink_wrap').css({
            'width': '1110px',
            'padding-top': '20px'
        })
        $('.outlink_wrap').find('a:nth-child(1)').css('margin-left:10px')
        $('td').css('border', '0')
        $('th').css({
            'border': '0',
            'background': '#fff'
        })
        $('.drive-detailed_text01 p span,.drive-detailed_text01 p span').css('font-size', '12px')

        function getstringFromUrl(name) {
            var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)');
            var r = window.location.search.substr(1).match(reg);
            if (r != null) {
                var arr = r.input.split('&');
                for (var i = 0, len = arr.length; i < len; i++) {
                    var item = arr[i].split('=');
                    if (item[0] == name) {
                        // return unescape(item[1]);
                        //解决value中有=的存在
                        return decodeURI(arr[i].substring(name.length + 1, arr[i].length));
                    }
                }
            }
            // return unescape(r[2]);
        }

        $.ajax({
            url: 'https://newsupport.lenovo.com.cn/api/drive/driver_detailnew',
            type: 'GET',
            data: {
                'driverID': getstringFromUrl('DEditid')
            }
        }).done(function (res) {
            var usedata = res.data.Data;
            if (usedata.Driver[0].Status == 0 || usedata.Driver[0].Status == 4) {
                window.location.href = 'https://think.lenovo.com.cn/support/driver/mainpage.aspx#ThinkPad';
            }
            if (usedata.Driver[0].IsLastEdition == 0 && getstringFromUrl('DEditid') !== usedata.Driver[0].DriverEdtionIdTheNew) {
                if (usedata.Driver[0].DriverEdtionIdTheNew == '') {
                    window.location.href = 'https://think.lenovo.com.cn/support/driver/mainpage.aspx#ThinkPad';
                } else {
                    window.location.href = 'https://think.lenovo.com.cn/support/driver/driverdetail.aspx?DEditid=' + usedata.Driver[0].DriverEdtionIdTheNew + '&docTypeID=DOC_TYPE_DRIVER&driverID=' + getstringFromUrl('driverID') + '&treeid=' + getstringFromUrl('treeid') + '&args=' + getstringFromUrl('args');
                }
            }
        })
    })
</script>
</body>
</html>
